﻿<!DOCTYPE html>
<html>
<head>
	<title>Dialog</title>
	<link rel="stylesheet" type="text/css" href="~/css/dialog.css">
</head>
<body>
	<div class='chat'>
		<div class='chat-messages'>
			<div class='chat-messages__content' id='messages'>
				@foreach (string message in ViewBag.Messages)
				{
					<p>@message</p>
				}
			</div>
		</div>
		<div class='chat-input'>
			<form method='post' id='chat-form'>
				<input type='text' id="message-text" class='chat-form__input' placeholder='Введите сообщение'> <input type='submit' class='chat-form__submit' value='=>'>
			</form>
		</div>
	</div>
	<script>
		var messages__container = document.getElementById('messages');
		//Контейнер сообщений — скрипт будет добавлять в него сообщения

		var interval = null; //Переменная с интервалом подгрузки сообщений

		var sendForm = document.getElementById('chat-form'); //Форма отправки
		var messageInput = document.getElementById('message-text');//Инпут для текста сообщения

		async function send( message, dialogId) {
			const response = await fetch("api/send_mes", {
				method: "POST",
				headers: { "Accept": "application/json", "Content-Type": "application/json" },
				body: JSON.stringify({
					value: message.value,
					isDeleted: false,
					senderId: 1,
					receiverId: 2
				})
			});
			if (response.ok === true) {
				const mess = await response.json();
				$.ajax({
					url: "@Url.Action( "Dialog", "Chat" )",
					//data: { message: $("#message-text").val() },
					type: 'POST',
					cache: false
            });
				//document.querySelector("tbody").append(row(user));
			}
			else {
				const error = await response.json();
				console.log(error.message);
			}
		}
		function update() {
			//const response = await fetch("Chat/Update",{});
		}
		interval = setInterval(update, 500);
		
		sendForm.onsubmit = function () {
			send( messageInput, 1);
			//$.ajax({
			//	url: 'Chat/Update'
			//}).done(function () {
			//	alert('Added');
			//});
			//const response = await fetch("Chat/Update", {});
			return false; //Возвращаем ложь, чтобы остановить классическую отправку формы
		};
		//function row(user) {

		//	const tr = document.createElement("tr");
		//	tr.setAttribute("data-rowid", user.id);

		//	const nameTd = document.createElement("td");
		//	nameTd.append(user.name);
		//	tr.append(nameTd);

		//	const emailTd = document.createElement("td");
		//	emailTd.append(user.email);
		//	tr.append(emailTd);

		//	const passTd = document.createElement("td");
		//	passTd.append(user.password);
		//	tr.append(passTd);

		//	const linksTd = document.createElement("td");

		//	const editLink = document.createElement("button");
		//	editLink.append("Изменить");
		//	editLink.addEventListener("click", async () => await getUser(user.id));
		//	linksTd.append(editLink);

		//	const removeLink = document.createElement("button");
		//	removeLink.append("Удалить");
		//	removeLink.addEventListener("click", async () => await deleteUser(user.id));

		//	linksTd.append(removeLink);
		//	tr.appendChild(linksTd);

		//	return tr;
		//}

	</script>
</body>
</html>
